@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.pixel {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cn {
  background-color: var(--bg);
}

.shadow-6 {
  --shadow-6: 0 0 0 1px
      color-mix(in oklab, rgb(255 255 255 / 17%), rgb(58 58 58) 25%),
    0 12px 60px rgb(0 0 0 / 20%), 0 16px 64px rgb(0 0 0 / 40%),
    0 16px 36px -20px rgb(0 0 0 / 90%);
  box-shadow: var(--shadow-6);
}
